@import "__vars";

.activity {
  background: #fff;
}

.activity-divider {
  margin: 12px 0;
  width: 100%;
  border-bottom: 1px solid $grey;
}

.next-activity {
  margin: 20px 0;
  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__media {
    width: 100%;
    height: 25vh;
    background-color: #fbede0;
    border-radius: 8px;
    margin: 12px 0;
  }

  &__description {
    margin-top: 20px;
    line-height: 1.25;
  }

  &__actions {
    display: flex;
    margin-top: 20px;
  }

  &__button {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;

    &--skip {
    }
    &--complete {
      background-color: $primary;
      margin-right: 12px;
      color: #fff;
    }
  }
}

.upcoming-activities {
  &__title {
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 20px;
  }

  &__activity {
    display: flex;
    margin-bottom: 12px;

    &__snapshot {
      width: 40%;
      height: 15vh;
      background-color: #fbc1c8;
      border-radius: 8px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
    }
  }
}
