@import "__vars";

.nav {
  height: 8vh;
  width: 100%;
  background: $grey;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: calc(100% - 40px);
  margin: 0 auto;

  img {
    height: 40%;
  }
}
