.tasks-card {
  background: #fff;
}

.tasks {
  position: absolute;
  top: 40px;
  padding: 1em 1.25em;
  width: 100%;

  &__list {
    margin-top: 12px;
  }

  &__item {
    text-align: left;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;

    &--striked {
      text-decoration: line-through;
    }
  }
}